<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="contnt-type" content="text/html" charset="UTF-8">
    <title>Index</title>
    <style>
        h1{
            font-size: 60px;
            color: #eee;
            text-align: right;
            margin: 0px;
        }

        body{
            font-size: 14px;
            color: #999;
            margin: 5px;
        }
    </style>
</head>

<body>
    <h1>Index page.</h1>
    <p>This is Index Page.</p>
    <p>これは、EJSを使ったWebページです。</p>
</body>

</html>